*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	background: #efefef;
	font-family: sans-serif;
}
.navbar{
	width: 100%;
	height: 50px;
	background: #1876f2;
	/*justify-content: space-between;*/
	display: flex;
	position: sticky;
	top: 0;
	z-index: 100;
}
.navbar img{
	height: 30px;
	width: 30px;
	padding: 0;
	margin-left: 40px;
	margin-top: 13px;
}
.navbar .my-pic{
	border-radius: 20px;
	width: 40px;
	height: 40px;
	margin: 0;
	margin: 6px 40px;
}
.srch-box{
	float: right;
	margin-left: 500px;
	height: 35px;
	width: 300px;
	border-radius: 20px;
	outline: none;
	border: 5px solid #efefef;
	background: #efefef;
	display: flex;
	align-items: center;
	margin-top: 8px;
	padding: 0 -20px;	
}
.srch-box img{
	width: 18px;
	height: 18px;
	margin-bottom: 9px;
}
.srch-box input{
	width: 100%;
	background: transparent;
	padding: 10px;
	outline: none;
	border: 0;
	font-family: monospace;
}
.navbar p{
	font-family: sans-serif;
	font-size: 25px;
	font-weight: bold;
    padding: 13px;
    padding-left: 50px;
}
.navbar p span{
	background: #efefef;
	color: #1876f2;
	border-radius: 5px  ;
	padding: 2px;
}
.online{
	position: relative;
}
.my-pic{
	margin-top: -10px;
}
.online:after{
	content: '';
	width: 7px;
	height: 7px;
	border: 2px solid #fff;
	border-radius: 50%;
	background: #41db51;
	position: absolute;
	top: 0;
	right: 0;
	margin-right: 38px;
	margin-top: 5px;
}
.container{
	display: flex;
	justify-content: space-between;
	padding: 13px 5%;
}
.left-sidebar{
	background: transparent;
	flex-basis: 25%;
	position: sticky;
	top: 70px;
	align-self: flex-start;	
}
.right-sidebar{
	background: transparent;
	flex-basis: 25%;
	position: sticky;
	top: 70px;
	align-self: flex-start;
	background: #fff;
	padding: 20px;
	border-radius: 4px;
	color: #626262;
}
.main-sidebar{
	flex-basis: 47%;
}
.imp-links a,.imp-shortcuts a{
	text-decoration: none;
	display: flex;
	align-items: center;
	color: #626262;
	width: fit-content;
}
.imp-links a img,.imp-shortcuts a img{
	width: 25px;
	margin-right: 15px;
}
.imp-links li,.imp-shortcuts li{
	list-style: none;
	margin-top: 30px;
}
.seemore{
	height: 90px;
}
.seemore p{
	color: #1876f2;
	margin-top: px;
}
.line{
	height: 2px;
	width: 100%;
	color: green;
}
.imp-links{
	border-bottom: 2px solid #ccc;
}
.imp-shortcuts img{
	border-radius: 5px;
}
.imp-shortcuts p{
	margin-top: 25px 0px;
	color: #626262;
	font-weight: 500;
	margin-top: 10px;
}
.sidebar-title{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 18px;
}
.sidebar-title h4{
	font-weight: 600;
	font-size: 16px;
}
.sidebar-title a{
	text-decoration: none;
	color: #1876f2;
	font-size: 12px;
}
.events{
	display: flex;
	font-size: 14px;
	margin-bottom: 20px;
}
.left-events{
	border-radius: 10px;
	height: 65px;
	width: 65px;
	margin-right: 15px;
	padding-top: 10px;
	text-align: center;
	position: relative;
	overflow: hidden;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.left-events p{
	margin-top: 19px;
	background: #1876f2;
	color: #fff;
	height: 100%;
}
.left-events h5{
	font-size: 16px;
	font-weight: bolder;
}
.right-events a{
	text-decoration: none;
	font-weight: bold;
} 
.advert-title{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 18px;
}
.advert-title a{
	font-size: 12px;
	text-decoration: none;
}
.advert img{
	width: 100%;
	margin-bottom: 20px;
	border-radius: 4px;
}
.chat-title{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 18px;
}
.chat-title a{
	font-size: 12px;
	text-decoration: none;
}
.online img{
	width: 35px;
	height: 35px;
	border-radius: 50px;
}
.online-list{
	align-items: center;
	margin-top: -10px;

	
}
.online-list .online{
	display: flex;
	margin-top: 20px;
	text-align: center;
	align-items: center;
}
.online-list .online:after{
	margin-right: 228px;
	margin-top: 25px;
}

.story-gallery{
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}
.story{
	flex-basis: 18%;
	padding-top: 32%;
	background-image:linear-gradient(transparent,rgba(0, 0, 0, 0.5)), url(file:///D:/html%20and%20CSS/Document/project/eduford_img/download1.jpeg.jpeg.jpeg);
	background-position: right;
	background-size: cover;
	border-radius: 10px;
	position: relative;
}
.story img{
	position:absolute ;
	width: 45px;
	border-radius: 50%;
	top: 10px;
	left: 10px;
	border-radius: 5px solid #626262;
}
.story p{
	position: absolute;
	bottom: 10px;
	width: 100%;
	text-align: center;
	color: #fff;
	font-size: 14px ;
}
.story1 img{
     border: 3px solid #1876f2;
}
#story1 img{
	border: 3px solid #626262;
}
#story2{
	background: linear-gradient(transparent,rgba(0, 0, 0, 0.5)),url(file:///D:/html%20and%20CSS/Document/project/images/status-5.png);	
	background-size: cover;

}
#story3{
	background: linear-gradient(transparent,rgba(0, 0, 0, 0.5)),url(file:///D:/html%20and%20CSS/Document/project/images/status-4.png);
	background-size: cover;
}
#story4{
	background: linear-gradient(transparent,rgba(0, 0, 0, 0.5)),url(file:///D:/html%20and%20CSS/Document/project/images/status-2.png);
	background-size: cover;
}
#story5{
	background: linear-gradient(transparent,rgba(0, 0, 0, 0.5)),url(file:///D:/html%20and%20CSS/Document/project/images/status-1.png);
	background-size: cover;
}
.Container{
	width: 100%;
	background: #fff;
	border-radius: 6px;
	padding: 20px;
	color: #626262;
}
.user-profile{
	display: flex;
	align-items: center;
}
.user-profile img{
	width: 45px;
	border-radius: 50%;
	margin-right: 10px;
}
.user-profile p{
	margin-bottom: -2px;
	font-weight: 600;
	color: #626262;
}
.user-profile small{
	font-size: 12px;

}
.input-container{
	padding-left: 55px;
	padding-top: 20px;

}
.input-container input{
	margin-top: 30px;
	border: none;
	border-bottom: 2px solid #626262;
	outline: none;
	width: 460px;
}
.post-links{
	display: flex;
	margin-top: 10px;

}
.post-links a{
	text-decoration: none;
	display: flex;
	align-items: center;
	color: #626262;
	margin-right: 30px;
	font-size: 13px;
}
.post-links img{
	width: 20px;
	margin-right: 10px;
}
.post-container{
	width: 100%;
	background: #fff;
	border-radius: 6px;
	padding: 20px;
	color: #626262;
	margin: 20px 0;
}
.user-profile span{
	font-size: 13px;
	color: #626262 ;
}
.text{
	color: #9a9a9a;
	margin: 15px 0;
	font-size: 15px;

}
.text a{
	color: #1876f2;
}
.feed{
	width: 100%;
	border-radius: 4px;
	margin-bottom: 5px;
}
.row{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.activity-icons{
	display: flex;
}
.activity-icons div img{
	width: 18px;
	margin-right: 10px;

}
.activity-icons div{
	display: inline-flex;
	align-items: center;
	margin-right: 30px;

}
.profile-icons{
	display: flex;
	align-items: center;
}
.profile-icons img{
	width: 20px;
	border-radius: 50%;
	margin-right: 5px;
}
.row a{
	color: #9a9a9a;
}
.load-btn{
	display: block;
	margin: auto;
	cursor: pointer;
	padding: 5px 10px;
	border: 1px solid #9a9a9a;
	color: #626262;
	background: transparent;
	border-radius: 4px;

}
.footer{
	text-align: center;
	color: #9a9a9a;
	padding: 10px 0 20px;
	font-size: 13px;
}
.settings{
	position: absolute;
	max-width: 330px;
	height: 480px;
	background: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
	border-radius: 4px;
	overflow: hidden;
	top: 108%;
	right: 5%;
	text-align: left;
	max-height: 0;
	transition:max-height 0.3s ;
}
.settings-height{
	max-height: 480px;
}
.user-profile a{
	font-size: 12px;
	color: #1876f2;
	text-decoration: none;
}
.setting-inner{
	padding: 20px;
}
.setting-inner p{
	display: block;
	font-size: 20px;
	text-align: center;
	margin-right: 80px;
	width: 100%;
}
.setting-inner a{
	text-align: center;
}
.setting-inner img{
	width: 40px;
	height: 30px;

}
.settings hr{
    border: 0;
    height: 1px;
    background: #9a9a9a;
    margin: 15px 0;
}
.setting-links{
	display: flex;
	align-items: center;
	margin: 15px 0;
}
.setting-links a{
	display: flex;
	flex: 1;
	justify-content: space-between;
	align-items: center;
}
.settings-pic{
	margin: 7px 10px;
}
.my-pic:hover{
	position: absolute;
	max-width: 330px;
	height: 480px;
	background: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
	border-radius: 4px;
	overflow: hidden;
	top: 108%;
	right: 5%;
	text-align: left;
}
#dark-btn{
	position: absolute;
	top: 20px;
	right: 20px;
	background: #ccc;
	width: 45px;
	border-radius: 15px;
	padding: 2px 3px;
	cursor: pointer;

}
#dark-btn span{
      width: 18px;
      height: 18px;
      background: #fff;
      border-radius: 50%;
      display: inline-block;
}