*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	font-family: sans-serif;
	text-decoration: none;
	list-style: none;
}
li{
	list-style: none;
}
img{
	cursor: pointer;
}
a{
	text-decoration: none;
	color: #5a5a5a;
}
nav{
	justify-content: space-between;
	display: flex;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	background: white;
	position: sticky;
	padding: 10px 2%;
	top: 0;
	z-index: 10;
}
.srch-box{
	float: right;
	margin-left: 220px;
	height: 35px;
	width: 300px;
	border-radius: 20px;
	outline: none;
	border: 1.3px solid #efefef;
	background: #fff;
	display: flex;
	align-items: center;
	margin-top: 8px;
	padding: 0 -20px;
	margin-right: 100px;
	align-items: center;	

}
.srch-box img{
	width: 18px;
	height: 18px;
	margin-bottom: 2px;
	margin-left: 30px;

}
.srch-box input{
	width: 100%;
	background: transparent;
	padding: 10px;
	outline: none;
	border: 0;
	font-family: monospace;
}
 .voice img{
	width: 15px;
	height: 22px;
	margin-top: 13px;
	cursor: pointer;
	margin-left: -180px;
}
.nav-left{
	display: flex;
	align-items: center;
	text-align: center; 
}
.nav-left .tube{
	margin-left: 20px;
}
.nav-left h4{
	display: inline-flex;
	font-size: 22px;
}
.nav-left .tube{
	margin-left: 40px;
	height: 40px;
	width: 40px;
}
.nav-left .menu{
	margin-left: 0px;
	height: 26px;
	width: 40px;
}
.nav-right{
	display: flex;
}
.nav-right {
	display: flex;
}
.nav-right img{
	width: 30px;
	height: 30px;
	display: flex;
	margin-right: 22px;

}
.nav-right .my-pic{
	width: 40px;
	height: 40px;
	border-radius: 20px;
}
.col-left ul{
	padding: px 2%;
	margin-top: -20px;

}
.col-left{
	background: #fff;
	flex-basis: 25%;
	position: sticky;
	top: 0px;
	align-self: flex-start;
	width: fit-content;
	border-radius: px;
	padding: 20px 70px 10px 30px;
}
.col-left ul li{
	color: #626262;
	font-weight: 500;
	margin-top: 25px;
}
.col-left{
	background: #fff;
	width: 220px;
	height: 100vh;
	position: fixed;
	top: 0;
	padding-left: 2%;
	padding-top: 90px;
}
.col-left ul a img{
	width: 17px;
	margin-right: 20px;
}
.col-left  a{
	display: flex;
	align-items: center;
	margin-bottom: 20px;
	width: fit-content;
	flex-wrap: ;
}
.col-left hr{
	border: 0;
	height: 1px;
	background: #ccc;
	width: 150%;
	margin-bottom: 20px;
}
.subscribe{
}
.subscribe h3{
	color: #626262;
	font-size: 15px;
	font-weight: 750;
}
.subscribe img{
	width: 30px;
	height: 30px;
	border-radius: 20px;
	margin-right: 20px;
}
.subscribe li{
	display: flex;
	width: fit-content;
	align-items: center;
	margin-bottom: 20px;
	flex-wrap: nowrap;

}
.subscribe p{
	display: inline-flex;
}
.container{
    background: #f9f9f9;
	padding-left: 17%;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 2%;
}
.banner img {
	width: 100%;
	height: 300px;
	border-radius: 8px;
	background-attachment:fixed ;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	d

}
.list-container{
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
	grid-column-gap: 16px;
	grid-row-gap: 30px;
	margin-top: 15px;
}
.vid-list .thumb{
	width: 100%;
	border-radius: 5%;
	height: 100px;
}
.flex-div{
	align-items: flex-start;
	margin-top: 7px;
}
.flex-div img{
	width: 35px;
	margin-right: 10px;
	border-radius: 50%;
}
.vid-info{
	color: #5a5a5a;
	font-size: 13px;

}
.flex-div a{
	color: #000;
	font-weight: 600;
	display: block;
	margin-bottom: 5px;
}



.play-container{
	padding
}
.row{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

}
.play-video{
	flex-basis: 69%;

}
.right-bar{
	flex-basis: 30%;
}
.play-video video{
	width: 100%;
	margin-left: -210px;
	
	
}
.side-video{
	justify-content: space-between;
	display: flex;
	margin-bottom: 5px;
	margin-left: -110px;
}
.side-video img{
	width: 200px;
}
.vid-info a{
	color: #000;
	font-weight: 600;
	display: block;
}
.side-video .thumbnail{
	flex-basis: 49%;
}
.side-video .vid-info{
	flex-basis: 49%;
}

.play-video .tags{
	color: rgb(0, 225, 0);
	font-size: 13px;
	text-align: left;
	margin-left: -210px;
}
.play-video .tags a{
	color: darkblue;
}
.play-video h3{
	font-weight: 600;
	margin-left: -210px;
	font-size: 22px;
}
.play-video .video-info{
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 10px;
	font-size: 14px;
	color: #5a5a5a;
}
.play-video .video-info a img{
	width: 20px;
	margin-right: 8px;
}
.react{
	margin-left: 300px;
	width: 100%;
	margin-top: -350px;
}
.channel img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.channel p{
	margin-left: 60px;
	margin-top: -30px ;
	font-weight: 600;
}
.channel{
	justify-content:flex-start ;
	margin-left: -210px;
	flex: 1;
}
.channel h6{
	margin-left: 60px;
	font-size: 13px;
}
.play-video .video-info p{
	margin-left: -210px;
	width: 400px;
	margin-top: 20px;
	color: #000;
}
.play-video .video-info a{
	display: inline-flex;
	align-items: center;
	/*margin-right: 70px;*/
	margin-bottom: 100px;
}
.play-video hr{
	margin-left: -210px;
	width: 760px;
	height: 1px;
}
.subscribed{
	align-items: center;
	margin-left: 280px;
	margin-top: -35px;
}
.subscribed button{
	padding: 8px 20px;
	color: #fff;
	background: #F10C0C ;
	border: none;
	border-radius: 3px;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 1px;
	cursor: pointer;
	font-weight: 600;
}
.comments hr{
	width: 20px;
	transform:rotate(90deg);
	margin-left: 100px;
	height: 1px;
}
.video-info hr{
	margin-top: 220px;
	width: 400px;
	margin-right: 500px;
}
.comments{
	margin-right: 190px;	
	margin-top: -20px;
}
.comments button{
	padding: 10px 20px;
	background: transparent;
	border:1px solid #626262 ;
	border-radius: 5px;
	outline: none;
	color: #000;
}
.comment-info{
	font-size: 20px;
	margin-right: -400px;
	margin-top: 30px;

}
.comment-info input{
	padding-top: 20px;
	border: none;
	border-bottom: 1px solid #ccc;
	width: 700px;
	outline: none;
	background: transparent;
}
.comment-info img{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-left: -210px;
	margin-top: 20px;
	
}
.public{
	width: ;
	margin-top: -190px;
	display: block;
	margin-bottom: 60px;
}
.public h3{
	color: #000;
	font-size: 15px;
	margin-top: -20px;
}
.public span{
	color: #626262;
	font-size: 12px;
}
.public img{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-left: -210px;
	margin-top: 60px;
}
.public div{
	margin-left: -150px;
	margin-top: -50px;
}
.public div p{
	margin-top: 10px;
}
.comment-react{
	display: inline;
	align-items: center;
	text-align: center;
	margin-left: -150px;
}
.comment-react img{
	border-radius: 0;
	width: 20px;
	height: 20px;
	margin-left: 10px;
	margin-top: -40px;
}
.comment-react div{
    margin-left: -70px;
    margin-top: 20px;
}
.comment-react div a{
	color: #0000ff;
	margin-left: -650px;
}
.comment-react span{
	color: #626262;
	font-size: 14px;
	margin-left: 10px;
}
